.tasks {
            padding: 20px;
            padding-left: 40px;
}
.tasks li {
            position: relative;
    }
        
.form-control {
            width: 465px;
            margin-bottom: 15px;
}
.button {
            font: 2em Arial,sans-serif;
        }
        
        .item {
            background-color: #eee;
            border-radius: 5px;
            padding: 4px 10px;
            margin-top: 10px;
        }
        .play{
            width: 100px;
            height: 100px;
            background-color: #369;
            border-radius: 100px;
            position: absolute;
            top: 120px;
            left:5px;
            transition: left 5s linear;
        }
        

        
        .box {
            height: 400px;
            background-color: #e1e2e3;
            border-color: #000;
            position: relative;
        }
        .dragable {
            position: absolute;
            width: 50px;
            height: 50px;            
            cursor: pointer;
            z-index: 1;
        }
        .red {
            background-color: #f00;
        }
        .green {
            background-color: #0b0;
        }
        .blue {
            background-color: #00f;
        }
        .purple {
            background-color: #874de4;
        }
        .move {
            cursor: move;
            opacity: 0.5;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            z-index: 10;
        }
.scroll-page{
    border-radius: 50%;
    font-size:24px;
    padding: 10px;
    width:64px;
    height:64px;
    position: fixed;
    z-index:300;
    left: calc(100% - 100px);
    top:80%;
}
.move{
    border:1px solid white;
}
.message-text{
    word-wrap: break-word;
}
.alert-container{
    position: absolute;
    top:0;
    right:10px;
    padding-top: 3px;
}
.alert{
    width: 450px;
    margin: 10px 0;
}

.move-right {
    left: calc(100% - 100px);
}
.hidden-class {
    display: none;
}
@media screen and (max-height: 400px) {
    .scroll-page{
        top:70%;
    }
}
@media screen and (max-height: 200px) {
    .scroll-page{
        top:10%;
    }
}